<div class="flex justify-center md:justify-start pt-12 md:pl-12 md:-mb-24 ">
    <!-- <a href="#" class="bg-black text-white font-bold text-xl p-4">TripSync</a> -->
    <img [src]="imageUrl" alt="logo" class="h-20 w-28">
</div>

<div class="flex flex-col justify-center md:justify-start my-auto pt-8 mt-6 md:pt-0 px-8 md:px-24 lg:px-32">
    <p class="text-center text-3xl">Reset Password!</p>
    <form class="flex flex-col pt-3 md:pt-8" [formGroup]="resetForm" (submit)="reset()">
        <div class="flex flex-col pt-4">
            <label for="otp" class="text-lg">OTP</label>
            <input type="number" formControlName="otp" id="otp" placeholder="Enter otp number"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline" required="">
            <span  *ngIf="resetForm.hasError('required','otp') && resetForm.controls['otp'].dirty"
                class="text-danger ps-2 pt-2 ">*OTP is required</span>
            <span  *ngIf="resetForm.hasError('minLength','otp') && resetForm.controls['otp'].dirty"
                class="text-danger ps-2 pt-2">*OTP is four digit</span>
            <span  *ngIf="resetForm.hasError('maxLength','otp') && resetForm.controls['otp'].dirty"
                class="text-danger ps-2 pt-2">*OTP is four digit</span>
        </div>

        <div class="flex flex-col pt-4">
            <label for="password" class="text-lg">Password</label>
            <input type="password" formControlName="password" id="password" placeholder="Password"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline" required>
                <span *ngIf="resetForm.hasError('required','password')&& resetForm.controls['password'].dirty"
            class="text-danger text-center ps-2 pt-2 ">*Password is required</span>
            <span *ngIf="resetForm.hasError('pattern','password')&& resetForm.controls['password'].dirty"
            class="text-danger text-center ps-2 pt-2">*Not a valid password</span>
        </div>
        <div class="flex flex-col pt-1">
            <label for="confirm-password" class="text-lg">Confirm Password</label>
            <input type="password" id="confirm-password" formControlName="confirm_password" placeholder="Password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline" />
            <span *ngIf="resetForm.get('confirm_password')?.hasError('confirmPasswordValidator')"
            class="text-danger text-center ps-2 pt-2 ">*Password is not matching</span>
            <span *ngIf="resetForm.hasError('required','confirm_password')&& resetForm.controls['confirm_password'].dirty"
            class="text-danger text-center ps-2 pt-2 ">*confirm  Password is required</span>
        </div>
        <input [disabled]="resetForm.invalid" [class.disabled]="resetForm.invalid" type="submit" value="Log In" class="bg-black text-white font-bold text-lg hover:bg-gray-700 p-2 mt-8">
        <span *ngIf="error_message">{{error_message}}</span>
    </form>
    <div class="text-center pt-12 ">
        <p><a class="underline font-semibold" (click)="navigation('auth')">Login here.</a>
        </p>
    </div>
    
</div>