<mat-toolbar > Publish a ride </mat-toolbar>

<div class="container">
  <div class="input-area ">
    <div class="flex flex-col">
    <label class="block text-sm font-medium leading-6 text-gray-900">Origin</label>
    <app-autocomplete
      (placeChanged)="fromValue = $event"
      placeholder="Enter from address..."
    ></app-autocomplete>
  </div>
  <div class="flex flex-col">
    <label class="block text-sm font-medium leading-6 text-gray-900">Destination</label>
    <app-autocomplete
      (placeChanged)="toValue = $event"
      placeholder="Enter to address..."
    ></app-autocomplete>
  </div>
    <div class="mt-2 flex flex-col">
      <label for="date" class="block text-sm font-medium leading-6 text-gray-900">Date</label>
      <input id="date" type="date" required name="date" [(ngModel)]="date"
        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-cyan-500 sm:text-sm sm:leading-6">

    </div>
    <div class="mt-2 flex flex-col">
      <label for="time" class="block text-sm font-medium leading-6 text-gray-900">Time</label>
      <input id="time" type="time" required name="time" [(ngModel)]="time"
        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-cyan-500 sm:text-sm sm:leading-6">

    </div>
    <div class="mt-2 flex flex-col">
      <label for="time" class="block text-sm font-medium leading-6 text-gray-900" >Available seats</label>
      <input id="seats" type="number" required name="seats" [(ngModel)]="seats" min="1" max="6"
        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-cyan-500 sm:text-sm sm:leading-6">

    </div>
    <div class="flex flex-row justify-around ">
      <button type="submit" (click)="submitData()"
        class="inline-block rounded bg-blue-600 text-white  mt-3 px-2 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-gray-700 shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
        data-te-ripple-init data-te-ripple-color="light">
        Submit
      </button>
      <button type="button"  (click)="cancel()"
        class="inline-block rounded bg-blue-600 text-white ml-1  mt-3 px-2 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-gray-700 shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
        data-te-ripple-init data-te-ripple-color="light">
        Cancel
      </button>
    </div>
  </div>
  <div
  class="display-area mt-2"
  [hidden]="!fromValue.address && !toValue.address"
>
  <app-map [from]="fromValue" [to]="toValue"></app-map>
</div>
</div>