

<div class="flex justify-center md:justify-start pt-12 md:pl-12 md:-mb-24 ">
    <a href="#" class="bg-black text-white font-bold text-xl p-4">TripSync</a>
</div>

<div class="flex flex-col justify-center md:justify-start my-auto pt-8 md:mt-16 md:pt-0 px-8 md:px-24 lg:px-32">
    <p class="text-center text-3xl">Verify OTP</p>
    <form class="flex flex-col pt-3 md:pt-8" [formGroup]="formOtp" (submit)="verifyOtp()">
        <div class="flex flex-col pt-4">
            <label for="email" class="text-lg">Phone</label>
            <input type="email" id="email" formControlName="otp" placeholder="Phone" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline">
            <span *ngIf="formOtp.hasError('required','otp') && formOtp.controls['otp'].dirty" class="text-danger ps-2">*OTP is required</span>
            <span *ngIf="formOtp.hasError('maxLength','otp') && formOtp.controls['phone'].dirty" class="text-danger ps-2">*Enter valid OTP</span>
            <span *ngIf="formOtp.hasError('minLength','otp') && formOtp.controls['phone'].dirty" class="text-danger ps-2">*Enter a valid OTP</span>
        </div>
        <input type="submit" value="Send OTP" class="bg-black text-white font-bold text-lg hover:bg-gray-700 p-2 mt-8">
    </form>
    <div class="text-center pt-3 pb-6">
        <p>Login with password? <a (click)="navigateToLoginWithPassword()" class="underline font-semibold">Log in here.</a></p>
    </div>
</div>
