<div class="block rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] ">
    <h5 class="border-b-2 border-cyan-600 text-center px-6 py-3 text-xl font-medium leading-tight  dark:text-gray-700">
        Communication settings
    </h5>
    <div class="p-6">
        <form [formGroup]="rideSettings" (submit)="submitSettings()">
            <div class="w-1/2 mt-4">
                <select data-te-select-init class="w-full border-blue-600" formControlName="call">
                    <option value="">Open for call?</option>
                    <option value="true">YES</option>
                    <option value="false">NO</option>

                </select>
            </div>
            <div class="w-1/2 mt-4 mb-8">
                <select data-te-select-init class="w-full border-blue-600" formControlName="video">
                    <option value="">Open for video call?</option>
                    <option value="true">YES</option>
                    <option value="false">NO</option>

                </select>
            </div>
            <button type="submit" 
                class="inline-block rounded bg-blue-600 mt-4 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
                data-te-ripple-init data-te-ripple-color="light">
                Submit
            </button>
        </form>
    </div>
</div>