<div>
  <nav class="mt-4" *ngIf="rideData.length>0">
    <ul class="flex" *ngFor="let data of rideData; let i=index;">
      <li>
        <a class="mx-1 flex h-9 w-9 items-center justify-center rounded-full bg-gradient-to-tr from-pink-600 to-pink-400 p-0 text-sm text-white shadow-md shadow-pink-500/20 transition duration-150 ease-in-out"
          href="#">
          {{i+1}}
        </a>
      </li>
    </ul>
  </nav>
  <article class="bg-white hover:bg-gray-100 mt-3 transition duration-350 ease-in-out" *ngFor="let data of rideData ">
    <div class="flex flex-shrink-0 p-4 pb-0">
      
        <div class="flex items-center">
          <div>
            <img class="inline-block h-10 w-10 rounded-full"
              [src]="picUrl+data.vehicleDetails.userDetails.profileImage[data.vehicleDetails.userDetails.profileImage.length-1]"
              alt="" *ngIf="data.vehicleDetails.userDetails.profileImage">
            <img class="inline-block h-10 w-10 rounded-full"
              src="https://toppng.com/uploads/preview/cool-avatar-transparent-image-cool-boy-avatar-11562893383qsirclznyw.png"
              alt="" *ngIf="!data.vehicleDetails.userDetails.profileImage">
          </div>
          <div class="ml-3" (click)="navigator(data.vehicleDetails.userDetails._id)">
            <p class="text-base leading-6 font-medium text-blue-950">
              {{data.vehicleDetails.userDetails.name}}
              <span
                class="text-sm leading-5 font-medium text-gray-400 group-hover:text-gray-300 transition ease-in-out duration-150">
                {{data.vehicleDetails.userDetails.email}}
              </span>
            </p>
          </div>
        </div>
      
    </div>
    <div
      class=" flex flex-col md:flex-row justify-center content-center block rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.09),0_10px_20px_-2px_rgba(0,0,0,0.04)]">
      <div class=" overflow-hidden bg-cover bg-no-repeat w-40 h-40 text-center " data-te-ripple-init
        data-te-ripple-color="light">
        <img class="rounded-t-lg mt-2"
          [src]="picUrl+data.vehicleDetails.VehiclePhotos[data.vehicleDetails.VehiclePhotos.length-1]" alt="" />
      </div>
      <div class="p-6 flex flex-col  justify-center">
        <span class="mb-2 leading-tight text-center text-neutral-800">
          VEHICLE DETAILS
        </span>
        <div class="bg-gray-200 w-80 p-3 p-1 mb-1 rounded-xl flex flex-row ">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-car-front-fill m-1 text-blue-600" viewBox="0 0 16 16">
            <path
              d="M2.52 3.515A2.5 2.5 0 0 1 4.82 2h6.362c1 0 1.904.596 2.298 1.515l.792 1.848c.075.175.21.319.38.404.5.25.855.715.965 1.262l.335 1.679c.033.161.049.325.049.49v.413c0 .814-.39 1.543-1 1.997V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.338c-1.292.048-2.745.088-4 .088s-2.708-.04-4-.088V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.892c-.61-.454-1-1.183-1-1.997v-.413a2.5 2.5 0 0 1 .049-.49l.335-1.68c.11-.546.465-1.012.964-1.261a.807.807 0 0 0 .381-.404l.792-1.848ZM3 10a1 1 0 1 0 0-2 1 1 0 0 0 0 2m10 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2M6 8a1 1 0 0 0 0 2h4a1 1 0 1 0 0-2zM2.906 5.189a.51.51 0 0 0 .497.731c.91-.073 3.35-.17 4.597-.17 1.247 0 3.688.097 4.597.17a.51.51 0 0 0 .497-.731l-.956-1.913A.5.5 0 0 0 11.691 3H4.309a.5.5 0 0 0-.447.276L2.906 5.19Z" />
          </svg>
          <span class="p-1 text-gray-900">BRAND : {{data.vehicleDetails.brand}}</span>
        </div>
        <div class="bg-gray-200 w-80 p-3 p-1 mb-1 rounded-xl flex flex-row ">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-sliders m-1 text-blue-600" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3m-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1z" />
          </svg>
          <span class="m-1 text-gray-900">{{data.vehicleDetails.model }}</span>
        </div>
        <div class="bg-gray-200 w-80 p-3 p-1 mb-1 rounded-xl flex flex-row ">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-r-square-fill m-1 text-blue-600" viewBox="0 0 16 16">
            <path d="M6.835 5.092v2.777h1.549c.995 0 1.573-.463 1.573-1.36 0-.913-.596-1.417-1.537-1.417z" />
            <path
              d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm3.5 4.002h3.11c1.71 0 2.741.973 2.741 2.46 0 1.138-.667 1.94-1.495 2.24L11.5 12H9.98L8.52 8.924H6.836V12H5.5z" />
          </svg>
          <span class="m-1 text-gray-900">REG_NO : {{data.vehicleDetails.registration.registrationNumber }}</span>
        </div>

      </div>
      <!-- <div class="p-6">
        <h5 class="mb-2 leading-tight text-neutral-800">
          VEHICLE DETAILS:-
        </h5>
        <h6>{{data.vehicleDetails.brand}}</h6>
        <h6>{{data.vehicleDetails.model}}</h6>

      </div> -->
      <div class="p-6 flex flex-col  justify-center">
        <span class="mb-2 leading-tight text-neutral-800 text-center">
          RIDE DETAILS
        </span>
        <div class="bg-gray-200 w-80 p-3 m-1 rounded-xl flex flex-row ">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
            class="bi bi-geo-alt-fill m-1 text-blue-600" viewBox="0 0 16 16">
            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6" />
          </svg>
          <span class="m-1 text-gray-900">{{data.origin| uppercase}}</span>
        </div>
        <div class="bg-gray-200 w-80 p-3 m-1 rounded-xl flex flex-row ">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
            class="bi bi-geo-fill m-1 text-blue-600" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.319 1.319 0 0 0-.37.265.301.301 0 0 0-.057.09V14l.002.008a.147.147 0 0 0 .016.033.617.617 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.619.619 0 0 0 .146-.15.148.148 0 0 0 .015-.033L12 14v-.004a.301.301 0 0 0-.057-.09 1.318 1.318 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465-1.281 0-2.462-.172-3.34-.465-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411" />
          </svg>
          <span class="m-1 text-gray-900">{{data.destination| uppercase}}</span>
        </div>
        <div class="bg-gray-200 w-80 p-3 m-1 rounded-xl flex flex-row justify-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
            class="bi bi-calendar-check-fill m-1 text-blue-600" viewBox="0 0 16 16">
            <path
              d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2m-5.146-5.146-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708.708z" />
          </svg>
          <span class="m-1 text-gray-900">{{data.departure_date.split('T')[0]}}</span>
        </div>
      </div>
      <!-- <div class="p-6">
        <h5 class="mb-2   leading-tight text-neutral-800">
          <i class="fa-solid fa-route m-1 "></i> RIDE DETAILS:-
        </h5>
        <div class="flex  justify-between">        
          <div>
            <h6 class="m-1"><i class="fa-solid fa-location-dot"></i>{{data.origin}}</h6>         
            <h6 class="m-1"><i class="fa-solid fa-location-dot"></i>{{data.destination}}</h6>
          </div>
        </div>         
        <div class="flex">
          <i class="fa-solid fa-calendar-days  text-cyan-700 fa-xl mt-2"></i>
          <h6 class="pl-2">Date: {{data.departure_date.split('T')[0]}}</h6>
        </div>
      </div> -->
      <div class="pr-5 flex flex-col ">
        <button type="submit" (click)="view(data._id)"
          class="bg-blue-600 hover:bg-gray-700 mt-5  rounded-3xl pl-3 pr-3 pt-2 pb-2 text-white ">
          view
        </button>
      </div>
    </div>

    <hr class="border-gray-800">
  </article>
  
</div>
<div *ngIf="rideData.length<=0">
  <article class="bg-white hover:bg-gray-100 mt-3 transition duration-350 ease-in-out">
    <div class=" p-4 pb-0">
      <div>
        <h1>No rides found!!!</h1>
      </div>
    </div>
  </article>
</div>