<div
  class="flex flex-col justify-center md:justify-start my-auto mt-3 md:pt-0 px-8 md:px-24 lg:px-32 w-11/12 sm:w-full md:w-2/3 text-cyan-300">
  <p class="text-center text-3xl">Vehicle Details.</p>

  <form class="flex flex-col  md:pt-8" [formGroup]="registrationData" (submit)="submitRegistrationData()">
    <div class="flex flex-col pt-1">
     
      <input id="color" formControlName="registrationNumber" placeholder="Registration number"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline">
      <span *ngIf="registrationData.hasError('required','registrationNumber')&& registrationData.controls['registrationNumber'].dirty"
        class="text-danger text-center ps-2 pt-2 col-12">*Registration number is required</span>
    </div>
    <div class="flex flex-col pt-1">
     
      <input id="color" formControlName="expiryDate" placeholder="Expiry Date" type="date"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline">
      <span *ngIf="registrationData.hasError('required','expiryDate')&& registrationData.controls['expiryDate'].dirty"
        class="text-danger text-center ps-2 pt-2 col-12">*Expiry Date is required</span>
    </div>
    
    <input type="submit" value="Submit"
      class="bg-cyan-300 w-1/4 text-gray-800 font-bold text-lg hover:bg-gray-700 p-2 mt-2 rounded" />
    <span class="text-center text-red-950">Something went wrong!!</span>
  </form>

</div>