

            <div class="flex justify-center md:justify-start pt-12 md:pl-12 md:-mb-12">
                <a href="#" class="bg-black text-white font-bold text-xl p-4" alt="Logo">TripSync</a>
            </div>

            <div class="flex flex-col justify-center md:justify-start my-auto md:pt-0 px-8 md:px-24 lg:px-32">
                <p class="text-center text-3xl">Join Us.</p>
                <form class="flex flex-col  md:pt-8"  [formGroup]="registerForm" (submit)="registerSubmit()" >
                    <div class="flex flex-col pt-1">
                        <label for="name" class="text-lg">Name</label>
                        <input type="text" id="name" formControlName="name" placeholder="John Smith" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline" />
                        <span *ngIf="registerForm.hasError('required','name')&& registerForm.controls['name'].dirty"
                        class="text-danger text-center ps-2 pt-2 col-12">*Name is required</span>
                    </div>
                    <div class="flex flex-col pt-1">
                        <label for="phone" class="text-lg">Contact number</label>
                        <input type="number" id="phone" formControlName="phone" placeholder="Contact Number" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline" />
                        <span *ngIf="registerForm.hasError('required','phone')&& registerForm.controls['phone'].dirty"
                                        class="text-danger text-center ps-2 pt-2 ">*Phone Number is required</span>
                                        <span *ngIf="registerForm.hasError('pattern','phone')&& registerForm.controls['phone'].dirty"
                                        class="text-danger text-center ps-2 pt-2 ">*Enter a valid Phone number</span>
                                        <span *ngIf="registerForm.hasError('minLength','phone')&& registerForm.controls['phone'].dirty"
                                        class="text-danger text-center ps-2 pt-2 ">*Not a valid phone number</span>
                                        <span *ngIf="registerForm.hasError('maxLength','phone')&& registerForm.controls['phone'].dirty"
                                        class="text-danger text-center ps-2 pt-2 ">*Not a valid phone number</span>
                    </div>
                    <div class="flex flex-col pt-1">
                        <label for="email" class="text-lg">Email</label>
                        <input type="email" id="email" formControlName="email" placeholder="your@email.com" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline" />
                        <span *ngIf="registerForm.hasError('required','email')&& registerForm.controls['email'].dirty"
                                            class="text-danger text-center ps-2 pt-2 ">*Email is required</span>
                                            <span *ngIf="registerForm.hasError('email','email')&& registerForm.controls['email'].dirty"
                                            class="text-danger text-center ps-2 pt-2 ">*Enter a valid email</span>
                    </div>
    
                    <div class="flex flex-col pt-1">
                        <label for="password" class="text-lg">Password</label>
                        <input type="password" id="password" formControlName="password" placeholder="Password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline" />
                        <span *ngIf="registerForm.hasError('required','password')&& registerForm.controls['password'].dirty"
                        class="text-danger text-center ps-2 pt-2 ">*Password is required</span>
                        <span *ngIf="registerForm.hasError('pattern','password')&& registerForm.controls['password'].dirty"
                        class="text-danger text-center ps-2 pt-2 ">*Must contain at least one number and one uppercase,lowercase, special letter</span>
                        <span *ngIf="registerForm.hasError('minLength','password')&& registerForm.controls['password'].dirty"
                        class="text-danger text-center ps-2 pt-2 ">*Minimum 8 characters</span>
                    </div>

                    <div class="flex flex-col pt-1">
                        <label for="confirm-password" class="text-lg">Confirm Password</label>
                        <input type="password" id="confirm-password" formControlName="confirm_password" placeholder="Password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline" />
                        <span *ngIf="registerForm.get('confirm_password')?.hasError('confirmPasswordValidator')"
                        class="text-danger text-center ps-2 pt-2 ">*Password is not matching</span>
                        <span *ngIf="registerForm.hasError('required','confirm_password')&& registerForm.controls['confirm_password'].dirty"
                        class="text-danger text-center ps-2 pt-2 ">*confirm  Password is required</span>
                    </div>
    
                    <input type="submit"  value="Register" class="bg-black text-white font-bold text-lg hover:bg-gray-700 p-2 mt-2 rounded" />
                    <span class="text-center text-red-950" *ngIf="isError">Something went wrong!!</span>
                </form>
                <div class="text-center pt-6 pb-12">
                    <p>Already have an account? <a (click)="navigateToLogin()" class="underline font-semibold">Log in here.</a></p>
                </div>
            </div>

     