<body>
    <div class="flex flex-col justify-center items-center h-[100vh]">
        <div class="!z-5 relative flex flex-col rounded-[20px] max-w-[300px] bg-white bg-clip-border shadow-3xl shadow-shadow-500 flex flex-col w-full !p-4 3xl:p-![18px] bg-white undefined">
            <div class="h-full w-full">
                <div class="relative w-full flex justify-center">
                    <img src="../../../assets/Animation - 1701681703733.gif" alt="">
                    
                </div>
                <div class="mb-3 flex items-center justify-around px-1 md:items-start">
                   
                    <div class="flex flex-row-reverse md:mt-2 lg:mt-0">
                        <button (click)="viewRide()">VIEW RIDE</button>   

                    </div>
                    <div class="flex flex-row-reverse md:mt-2 lg:mt-0">
                        <button (click)="home()">HOME</button>   
                        
                    </div>
                </div>
            </div>
        </div>
      
    </div>
