
<div class="flex flex-col justify-center md:justify-start my-auto mt-1 md:pt-0 px-8 md:px-24 lg:px-32 w-11/12 sm:w-full md:w-2/3 text-cyan-300">
    <p class="text-center text-3xl">Vehicle Details.</p>


    <form class="flex flex-col  md:pt-8" [formGroup]="vehicleData" (submit)="submitVehicleData()" >
        <div class="flex flex-col pt-1">
            <label for="vechicleType" class="text-lg">Vehicle Type</label>
            <select  id="vechicleType" (change)="onTypeValue()" formControlName="type" placeholder="John Smith" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline" >
                <option value="Car">Car</option>
                <option value="Moto" >Two wheeler</option>
            </select>
            <span *ngIf="vehicleData.hasError('required','type')&& vehicleData.controls['type'].dirty"
            class="text-danger text-center ps-2 pt-2 col-12">*Type is required</span>
        </div>
        <div class="flex flex-col pt-1">
            <label for="brand" class="text-lg">Select a Brand</label>
            <select  id="brand"  formControlName="brand" (change)="onBrandValue()" placeholder="John Smith" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline" >
                <option value="{{brand.MakeName}}" *ngFor="let brand of brands.Results">{{brand.MakeName}}</option>
            </select>
            <span *ngIf="vehicleData.hasError('required','brand')&& vehicleData.controls['brand'].dirty"
            class="text-danger text-center ps-2 pt-2 col-12">*Brand is required</span>
        </div>
        <div class="flex flex-col pt-1">
            <label for="model" class="text-lg">Select a Model</label>
            <select  id="model"   formControlName="model" (change)="onModelValue()"  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline" >
                <option value="{{item.model}}" *ngFor="let item of models">{{item.model}}</option>
            </select>
            <span *ngIf="vehicleData.hasError('required','model')&& vehicleData.controls['model'].dirty"
            class="text-danger text-center ps-2 pt-2 col-12">*Model is required</span>
        </div>
        <div class="flex flex-col pt-1">
            <label for="year" class="text-lg">Select a Year</label>
            <select  id="year"   formControlName="year"   class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline" >
                <option value="{{year.year}}" *ngFor="let year of years">{{year.year}}</option>
            </select>
            <span *ngIf="vehicleData.hasError('required','year')&& vehicleData.controls['year'].dirty"
            class="text-danger text-center ps-2 pt-2 col-12">*Year is required</span>
        </div>
        <div class="flex flex-col pt-1">
            <label for="year" class="text-lg">Color</label>
            <input  id="color"   formControlName="color"   class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline" >
            <span *ngIf="vehicleData.hasError('required','year')&& vehicleData.controls['year'].dirty"
            class="text-danger text-center ps-2 pt-2 col-12">*Year is required</span>
        </div>
        <input type="submit"  value="Submit" class="bg-cyan-300 w-1/4 text-gray-800 font-bold text-lg hover:bg-gray-700 p-2 mt-2 rounded" />
        <span class="text-center text-red-950" >Something went wrong!!</span>
    </form>
   

</div>