<body class="bg-white font-family-karla h-screen">

    <div class="w-full flex flex-wrap">

        <!-- Register Section -->
        <div class="w-full md:w-1/2 flex flex-col">
           
            <router-outlet></router-outlet>
            

        </div>

        <!-- Image Section -->
        <div class="w-1/2 shadow-2xl   ">
            <img class="object-cover  fixed w-full h-screen hidden md:block" src="https://images.pexels.com/photos/18447028/pexels-photo-18447028/free-photo-of-top-view-of-a-car-on-a-road-between-snowy-fields.jpeg?auto=compress&cs=tinysrgb&w=1260&h=1250&dpr=2" alt="Background" />
        </div>
    </div>

</body>